In [2]:
import pandas as pd

In [3]:
pd.__version__

'1.4.3'

In [4]:
#!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz

In [5]:
!ls

dataeng-375609-fac7ec0c9b2b.json  services
docker-compose.yaml		  taxi+_zone_lookup.csv
Dockerfile			  taxi+_zone_lookup.csv.1
green_tripdata_2019-01.csv	  taxi+_zone_lookup.csv.2
ingest_data.py			  terraform
ny_taxi_postgres_data		  upload.ipynb
output.csv			  yellow.csv
output.csv.gz			  yellow_tripdata_2021-01.csv
pipeline.py

In [ ]:
!wget https://d37ci6vzurychx.cloudfront.net/misc/taxi+_zone_lookup.csv

In [51]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [57]:
df_zones[df_zones["Zone"] == "Astoria"]

   LocationID Borough     Zone service_zone
6           7  Queens  Astoria    Boro Zone

In [53]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265

In [42]:
df = pd.read_csv('green_tripdata_2019-01.csv', nrows=100)

In [43]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1,264,264,5,0.00,3.0,0.5,0.5,0.00,0.0,NaN,0.3,4.30,2,1,NaN
1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1,97,49,2,0.86,6.0,0.5,0.5,0.00,0.0,NaN,0.3,7.30,2,1,NaN
2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1,49,189,2,0.66,4.5,0.5,0.5,0.00,0.0,NaN,0.3,5.80,1,1,NaN
3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1,189,17,2,2.68,13.5,0.5,0.5,2.96,0.0,NaN,0.3,19.71,1,1,NaN
4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1,82,258,1,4.53,18.0,0.5,0.5,0.00,0.0,NaN,0.3,19.30,2,1,NaN

In [29]:
len(df)

100

In [47]:
print(pd.io.sql.get_schema(df, name='green_tripdata_2019-01.csv'))

CREATE TABLE "green_tripdata_2019-01.csv" (
"VendorID" INTEGER,
  "lpep_pickup_datetime" TIMESTAMP,
  "lpep_dropoff_datetime" TIMESTAMP,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" INTEGER,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" INTEGER,
  "trip_type" INTEGER,
  "congestion_surcharge" REAL
)

In [46]:
df['lpep_pickup_datetime']

0    2018-12-21 15:17:29
1    2019-01-01 00:10:16
2    2019-01-01 00:27:11
3    2019-01-01 00:46:20
4    2019-01-01 00:19:06
             ...
95   2019-01-01 00:15:42
96   2019-01-01 00:21:28
97   2019-01-01 00:17:10
98   2019-01-01 00:25:01
99   2019-01-01 00:36:56
Name: lpep_pickup_datetime, Length: 100, dtype: datetime64[ns]

In [45]:
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)

In [10]:
from sqlalchemy import create_engine

In [13]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [14]:
engine.connect()

In [48]:
df_iter = pd.read_csv('green_tripdata_2019-01.csv', iterator=True, chunksize=100000)

In [31]:
df = next(df_iter)

In [32]:
len(df)

100000

In [49]:
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)

In [36]:
df.head(n=0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')

0

In [37]:
%time df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

CPU times: user 16.9 s, sys: 231 ms, total: 17.1 s
Wall time: 34.7 s

1000

In [38]:
from time import time

In [50]:
while True:
    t_start = time()
    
    df = next(df_iter)
    
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    
    df.to_sql(name='green_taxi_data', con=engine, if_exists='append')
    
    t_stop = time()
    
    print('inserted another chunk..., took %.3f second' %(t_stop - t_start))

inserted another chunk..., took 62.330 second
inserted another chunk..., took 63.827 second
inserted another chunk..., took 54.713 second
inserted another chunk..., took 58.967 second
inserted another chunk..., took 60.593 second
inserted another chunk..., took 61.176 second
inserted another chunk..., took 21.075 second

StopIteration:

In [ ]:
query = "SELECT * FROM yellow_taxi_data LIMIT 11"

pd.read_sql(query, con=engine)